body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.input-space {
    margin-bottom: 20px;
}

#inputField {
    font-size: 1em;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.hiragana-buttons {
    display: grid;
    grid-auto-flow: column;           /* 縦方向に並べる */
    grid-template-rows: repeat(5, 1fr); /* 10行に分ける */
    gap: 10px;
    margin-bottom: 20px;
    direction: rtl; /* ← ここで右から左にする！ */
}

.hiragana-btn {
    padding: 20px;
    font-size: 1.5em;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.hiragana-btn:hover {
    background-color: #f0f0f0;
}

.clear-button {
    margin-top: 20px;
}

#clearBtn, #confirmBtn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

#clearBtn:hover {
    background-color: #d32f2f;
}

#confirmBtn {
    background-color: #4CAF50;  /* 緑色 */
    color: white;
    border-radius: 0.5rem;
    margin-left: 10px;  /* 「消去」ボタンとの間隔を空ける */
}

#confirmBtn:hover {
    background-color: #45a049;  /* 緑色の濃い色 */
}


.image {
    position: relative;
    margin: 0 auto;
}

.image img {
    height: auto; /* ← これがアスペクト比を保つ */
    max-width: 200px;
    display: block;
    object-fit: contain;
}


/* 赤丸のスタイル */
#resultIndicator {
    position: absolute;
    top: 10;
    left: center;
    width: 20%; /* 画像と同じサイズに */
    height: 20%;
    border: 30px solid rgba(255, 0, 0, 0.8);
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none; /* ボタン操作を邪魔しないように */
    display: none; /* 最初は非表示 */
    background-color: transparent;
}

/* アニメーション */
/* 入力文字列消去アニメーション */
@keyframes clearAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 0;
        padding: 0;
    }
}

.clear-animation {
    animation: clearAnimation 1s forwards;
}

/* 画像のシェイクアニメーション */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}


/* カウンター */

#counter-area {
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index: 1000;
}